@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css';

/* -----Resets----- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* -----Styles----- */

body {
    font-family: 'Open Sans', sans-serif;
    color: #21509a;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.euro-logo-container {
    width: 400px;
}
.euro-logo-container img {
    width: 100%;
    height: 100%;
}


main {
    margin: 3rem;
}

main h2 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 2rem;
}

.footer-main {
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo img {
	width: 200px;
}

.footer-social-links {
	display: flex;
	font-size: 30px;
	gap: 12px;
}

.fa-github {
	color: black;
}

.fa-facebook {
	color: #1877F2;
}

.fa-linkedin {
	color: #0077B5;
}

.footer-bottom {
	font-size: 14px;
}

.group-results-container {
    display: flex;
    justify-content: center;
}
.matches-container {
    display: flex;
    flex-direction: column;
}

.group-results-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
}


.match-result-card {
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 17px;
    font-family: 'PT Sans Narrow';
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    background-color: #eceeef;
    border: 2px solid #b7bdc7;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(58, 58, 58, 0.25);
}

.match-result-card:hover {
    background-color: #b9d2fd;
}
.match-results-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.country-flag-container {
    display: flex;
    width: 24px;
}

.country-flag {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.team-container {
    display: flex;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
}

.match-teams {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.match-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 800;
}
.match-info {
    text-align: center;
    font-size: 12px;

}

.match-details-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-details-header {
    display: flex;
    justify-content: center;
    gap: 16rem;
}

.match-details-result-big {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin: 2rem 1rem 1rem 1rem;
    font-size: 2.5rem;

}
.country-flag-container-big {
    display: flex;
    width: 64px;
}

.country-flag-big {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #6f7379;
}

.team-container-big {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.match-result-big {
    font-size: 4rem;
    font-weight: 600;
}

.teams-lineup-section {
    display: flex;
    gap: 10rem;
    justify-content: space-between;
}

.team-lineup-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background-color: green;
    margin-top: 2rem;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 8px 1px 16px 8px rgba(58, 58, 58, 0.25);    
}

.team-lineup-top-field {
    height: 50%;
    margin: 1rem 1rem 0 1rem;
    border: 2px solid white;
    border-bottom: 1px solid white;
}
.team-lineup-bottom-field {
    height: 50%;
    margin: 0 1rem 1rem 1rem;
    border: 2px solid white;
    border-top: 1px solid white;
}

.team-lineup-center {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-lineup-goal-top {
    position: absolute;
    width: 160px;
    height: 70px;
    border: 2px solid white;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0%);
}
.team-lineup-goal-bottom {  
    position: absolute;
    width: 160px;
    height: 70px;
    border: 2px solid white;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.team-details-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-details-section h3 {
    margin-top: 1rem;
} 
.team-details-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.roster-table {
    width: 40%;
    text-align: center;
    font-weight: 600;
    padding: 1rem;
    background-color: #eceeef;
    border: 2px solid #b7bdc7;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(58, 58, 58, 0.25);
}

table th {
    font-size: 1.2rem;
    padding: 0.25rem;
}
table td {
    padding: 0.25rem;
}

.position {
    display: flex;
    justify-content: center;
}
.position div {
    width: 32px;
    height: 24px;
    padding: 0.2rem;
    border-radius: 6px;
    color: white;
    font-size: 0.8rem;
}

.gk {
    background-color: rgb(106, 106, 106);
}
.df {
    background-color: rgb(253, 78, 78);
}
.mf {
    background-color: rgb(78, 112, 165);
}
.fw {
    background-color: rgb(88, 170, 88);
}
